<section class="container w-70">
    <div class="chart-wrapper pt-20">
      <canvas
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
      >
      </canvas>
    </div>
    <div class="container">
      <div class="grid">
        <div class="row">
          <div class="col-6 text-center">
            <b> Last temperature received : {{ lastTemperature }} °C</b>
          </div>
          <div class="col-6 text-center">
            <b> Last power received : {{ lastPower }} KW</b>
          </div>
        </div>
      </div>
    </div>
  </section>